<div class="row row-cards g-3 align-items-center">
    <div class="col-md-4">
        <div class="mb-3">
            <label class="form-label">Nome do campo</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <label class="form-label">Tipo</label>
            <select class="form-select" id="select-users">
                <option value="1">string</option>
                <option value="2">int</option>
                <option value="3">long</option>
                <option value="4">bool</option>
                <option value="5">DateTime</option>
            </select>
        </div>
    </div>

    <div class="col-md-2">
        <div class="mb-3">
            <label class="form-label">Qtd. Caracter</label>
            <input type="number" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <div class="form-check" style="margin-top: 28px !important;">
                <input class="form-check-input" type="checkbox" id="required" checked>
                <label class="form-check-label" for="required">Obrigatório?</label>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <label class="form-label">Entidade relacional?</label>
            <select class="form-select" id="select-users">
                <option value="1">Pessoas</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <div class="form-check" style="margin-top: 28px !important;">
                <input class="form-check-input" type="checkbox" id="required" checked>
                <label class="form-check-label" for="required">Relacionamento Obrigatório?</label>
            </div>
        </div>
    </div>
</div>

<div class="row row-cards g-3 align-items-center">
    <table id="myTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Tipo</th>
                <th>Quantidade de caracteres</th>
                <th>Obrigatorio?</th>
                <th>Campo relacional</th>
                <th>Obrigatório</th>
                <th class="text-center">Consultar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-custom">Nome</td>
                <td class="td-custom">string</td>
                <td class="td-custom">20</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td style="width:5%">
                    <div class="text-center">
                        <a href="/consultar-entidade/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td-custom">Nome</td>
                <td class="td-custom">string</td>
                <td class="td-custom">20</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td style="width:5%">
                    <div class="text-center">
                        <a href="/consultar-entidade/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td-custom">Nome</td>
                <td class="td-custom">string</td>
                <td class="td-custom">20</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td style="width:5%">
                    <div class="text-center">
                        <a href="/consultar-entidade/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td-custom">Nome</td>
                <td class="td-custom">string</td>
                <td class="td-custom">20</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td style="width:5%">
                    <div class="text-center">
                        <a href="/consultar-entidade/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td-custom">Nome</td>
                <td class="td-custom">string</td>
                <td class="td-custom">20</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td class="td-custom">Não</td>
                <td style="width:5%">
                    <div class="text-center">
                        <a href="/consultar-entidade/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>